# Gitignore settings for ESPHome
# This is an example and may include too much for your use-case.
# You can modify this file to suit your needs.
/.esphome/
/secrets.yaml
# We don't need Cura project files checked in, or my random notes
*.3mf
Notes